.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav {
    background-color: lightblue;
    padding: 5px 5px;
}
nav li{display: inline;}
nav li a{color: yellow; margin-left: 10px;}
input{border-radius: 10%}
body{
    background-color: purple;
    color: lightblue;

}